html {
    height: 100%;
}

body {
	margin: 0;
    height: 100%;
}

section.main-profile, section.blogs, section.projects {
    min-height: 100%;
}

div.top {
	height: 100px;
	width: 85%;
	margin: 0 auto;
	border-bottom: 2px solid #9f9f9f;
}

div.me {
	width: 65%;
	margin: auto;
}

header {
	background-color: #efefef;
	padding: 1px;
	width: 100%;
	margin:0;
}

div.me img {
	display: block;
	height: 120px;
	width: 120px;
	margin-top: -60px;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #9f9f9f;
	border-radius: 100px;
}


div.me h2 {
	font-family: 'Avenir', sans-serif;
	text-align: center;
	font-size: 300%;
	margin-bottom: 0;
	margin-top: 1%;
	color: #4A4A4A;
}

div.me h3 {
	font-family: 'Avenir', sans-serif;
	text-align: center;
	font-size: 220%;
	margin-bottom: 0;
	margin-top: 5%;
	color: #4A4A4A;
}

div.me h6 {
	font-family: Georgia, serif;
	font-size: 120%;
	font-weight: normal;
	text-align: center;
	font-style: italic;
	color: #9f9f9f;
	margin-top: 0;
}

div.intro {
	width: 65%;
	margin: auto;
	text-align: center;
	padding: 0;
}

div.intro p{
	font-family: Georgia, serif;
	font-size: 120%;
	font-weight: normal;
	text-align: center;
	color: #9f9f9f;
	margin-top: 0;
	line-height: 2.0em;
}

div.social {
	display: block;
	margin: 2% auto;
	padding: 2%;
	text-align: center;
}

div.social i{
	color: #4A4A4A;
	margin: 0 1%;
}

div.blog-content, div.project-content {
	width: 50%;
	margin: auto;
	text-align: center;
	padding: 0;
}

div.tiles {
    margin: 4% auto;
}

div.tile {
    background-color: #efefef;
    text-align: left;
    margin: 5% auto;
    padding: 3%;
}

div.tile-title {
    color: #9f9f9f;
    font-family: 'Avenir', sans-serif;
    font-size: 170%;
    margin-bottom: 1%;
}

div.tile-description {
    color: #4A4A4A;
    font-family: Georgia, serif;
    font-size: 100%;
    line-height: 1.5;
}

div.tile-links {
    margin-top: 2%;
}

div.tile-links i{
	color: #4A4A4A;
	margin: 0 1%;
}

div.tile-links i.fa-github:hover{
	color: #666666;
}

div.tile-links i.fa-external-link-square:hover{
	color: #6aa279;
}

/* Styling for Social Media Icons */

div.social i.fa-facebook-square:hover{
	color: #3b5998;
}

div.social i.fa-instagram:hover{
	color: #517fa4;
}

div.social i.fa-twitter:hover{
	color: #00aced;
}

div.social i.fa-linkedin-square:hover{
	color: #007bb6;
}

div.social i.fa-github:hover{
	color: #666666;
}

div.social i.fa-flickr:hover{
	color: #ff0084;
}
/* End of styling for Social icons */

div.down {
	display: block;
	margin: 3% auto 0 auto;
	padding: 2%;
	text-align: center;
	color: #4A4A4A;
}



/*
ul {	
	list-style: none;
	text-align: center;
	
}


ul li {
	display: inline;
	margin: 0 1% ;
	color: #4A4A4A;
}
*/



@media only screen and (min-width: 150px) and (max-width: 600px){

	div.top {
		height: 60px;
		width: 85%;
		margin: 0 auto;
		border-bottom: 2px solid #9f9f9f;
	}
	
	div.me {
		width: 65%;
		margin: auto;
	}
	
	header {
		background-color: #efefef;
		padding: 1px;
		margin:0;
	}
	
	div.me img {
		display: block;
		height: 80px;
		width: 80px;
		margin-top: -44px;
		margin-left: auto;
		margin-right: auto;
		border: 5px solid #9f9f9f;
		border-radius: 100px;
	}
	
	
	div.me h2 {
		font-size: 250%;
	}
	
	div.me h6 {
		font-family: Georgia, serif;
		font-size: 120%;
		font-weight: normal;
		text-align: center;
		font-style: italic;
		color: #9f9f9f;
		margin-top: 0;
		margin-bottom: 10%;
	}
	
	div.intro {
		width: 80%;
		margin: auto;
		text-align: center;
		padding: 0;
	}
	
	div.intro p{
		font-family: Georgia, serif;
		font-size: 120%;
		font-weight: normal;
		text-align: center;
		color: #9f9f9f;
		margin-top: 0;
		line-height: 2.0em;
	}
	
	div.social {
		display: block;
		margin: 10% auto;
		padding: 2%;
		text-align: center;
	}
	
	div.social i{
		color: #4A4A4A;
		margin: 0 1%;
	}
		
	div.social i.fa-facebook-square:hover{
		color: #3b5998;
	}
	
	div.social i.fa-instagram:hover{
		color: #517fa4;
	}
	
	div.social i.fa-twitter:hover{
		color: #00aced;
	}
	
	div.social i.fa-linkedin-square:hover{
		color: #007bb6;
	}
	
	div.social i.fa-github:hover{
		color: #666666;
	}
	
	div.social i.fa-flickr:hover{
		color: #ff0084;
	}
	
	div.down {
		display: block;
		margin: 2% auto;
		padding: 2%;
		text-align: center;
		color: #4A4A4A;
	}


}
*/