html {
    height: 100%;
}

body {
	margin: 0;
    height: 100%;
}

section.main-profile, section.blogs, section.projects {
    min-height: 100%;
}

div.top {
	height: 100px;
	width: 85%;
	margin: 0 auto;
	border-bottom: 2px solid #9f9f9f;
}

div.me {
	width: 65%;
	margin: auto;
}

header, div.project-header, div.blog-header {
	padding: 1px;
	width: 100%;
	margin:0;
}

header {
    background-color: #efefef;
}

div.project-header {
    margin: 1% 0;
}

div.blog-header {
}

div.me img {
	display: block;
	height: 120px;
	width: 120px;
	margin-top: -65px;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #9f9f9f;
	border-radius: 100px;
}


div.me h2 {
	font-family: 'Avenir', sans-serif;
	text-align: center;
	font-size: 300%;
	margin-bottom: 0;
	margin-top: 1%;
	color: #4A4A4A;
}

div.me h3 {
	font-family: 'Avenir', sans-serif;
	text-align: center;
    font-weight: 600;
	font-size: 220%;
	margin-bottom: 0;
	margin-top: 5%;
	color: #4A4A4A;
}

div.me h6 {
	font-family: Georgia, serif;
	font-size: 120%;
	font-weight: normal;
	text-align: center;
	font-style: italic;
	color: #9f9f9f;
	margin-top: 0;
}

div.intro {
	width: 65%;
	margin: auto;
	text-align: center;
	padding: 0;
}

div.intro p{
	font-family: Georgia, serif;
	font-size: 120%;
	font-weight: normal;
	text-align: center;
	color: #9f9f9f;
	margin-top: 0;
	line-height: 2.0em;
}

div.social {
	display: block;
	margin: 2% auto;
	padding: 2%;
	text-align: center;
}

div.social i{
	color: #4A4A4A;
	margin: 0 1%;
}

div.blog-content, div.project-content {
	width: 65%;
	margin: auto;
	text-align: center;
	padding: 0;
}

div.tiles {
    margin: 4% auto;
}

div.tile {
    text-align: left;
    margin: 5% auto;
    padding: 3%;
    border: 1px solid #007bfd;
    border-radius: 10px;
}

div.tile-unlinked {
    text-align: left;
    margin: 5% auto;
    padding: 3%;
    border: 1px solid #007bfd;
    border-radius: 10px;
}

div.tiles a {
    text-decoration: none;
}

div.tiles a:hover > .tile > .tile-title, div.tile-unlinked > a:hover > .tile-title{
    color: #007bfd;
}

div.tile-title {
    color: #9f9f9f;
    font-family: 'Avenir', sans-serif;
    font-size: 170%;
    margin-bottom: 1%;
}

div.tile-description {
    color: #4A4A4A;
    font-family: Georgia, serif;
    font-size: 150%;
    line-height: 1.5;
}

div.tile-links {
    margin-top: 2%;
    text-align: right;
}

div.tile-links i{
	color: #4A4A4A;
    margin-right: 1%;
    font-size: 2em;
}

div.tile-links i.fa-github:hover, div.tile-links i.fa-external-link-square:hover{
	color: #007bfd;
}

/* Styling for Social Media Icons */

div.social i.fa-facebook-square:hover{
	color: #3b5998;
}

div.social i.fa-instagram:hover{
	color: #517fa4;
}

div.social i.fa-twitter:hover{
	color: #00aced;
}

div.social i.fa-linkedin-square:hover{
	color: #007bb6;
}

div.social i.fa-github:hover{
	color: #4183c4;
}

div.social i.fa-flickr:hover{
	color: #ff0084;
}
/* End of styling for Social icons */

div.down {
	display: block;
	margin: 3% auto 0 auto;
	padding: 2%;
	text-align: center;
	color: #4A4A4A;
    position: relative;
    bottom: 0;
}


@media only screen and (min-width: 1920px) {
    div.me, div.intro, div.blog-content, div.project-content {
        width: 1248px;
    }
}

@media only screen and (max-width: 1024px) {
    div.me, div.intro, div.blog-content, div.project-content {
        width: 70%;
    }
}

@media only screen and (max-width: 900px) {
    div.me, div.intro, div.blog-content, div.project-content {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    
    
    div.me h2 {
        font-size: 200%;
    }
    
    div.me img {
        height: 90px;
        width: 90px;
        margin-top: -50px;
    }
    
    div.me h6 {
        font-size: 100%;
    }
    
    div.intro p {
        font-size: 100%;
    }
    
    div.me, div.intro, div.blog-content, div.project-content {
        width: 90%;
    }
    
    div.tile-description {
        font-size: 110%;
    }
    
}
