doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content='Osama, Sidat, SammSid, OsamaSidat, Osama Sidat')
    link(rel='stylesheet', href='style/fa/css/font-awesome.min.css')
    link(rel='stylesheet', href='style/style.css', type='text/css')
    link(rel='icon', type='image/png', href='images/osama.png')
    title=locals.title
    
  body
    p Hello World
    
